﻿@page
@using Newtonsoft.Json;
@model CurrencyConverter.Pages.ConvertModel
@{
    ViewData["Title"] = "Convert";
}

<form method="post">
    <div>
        @Html.DropDownListFor(m => m.CurencyModel.FirstCurrency, new SelectList(Model.Options, "Value", "Text"), "Select currency", new { id = "FirstCurrencyDropDown", @class = "css-class" })

        @Html.TextBoxFor(model => model.CurencyModel.TotalAmountFirstCurrency, new { id = "FirstTextBox", oninput = "OnInputFirstCurrencyEvent()" })

        <script type="text/javascript">
            function OnInputFirstCurrencyEvent() {
                var button = document.getElementById("FirstButton");
                button.click();
            }
        </script>
        <span asp-validation-for="CurencyModel.TotalAmountFirstCurrency" class="text-danger"></span>
    </div>
    <div>
        @Html.DropDownListFor(m => m.CurencyModel.SecondCurrency, new SelectList(Model.Options, "Value", "Text"), "Select currency", new { id = "SecondCurrencyDropDown", @class = "css-class" })
        @Html.TextBoxFor(model => model.CurencyModel.TotalAmountSecondCurrency, new { id = "SecondTextBox", oninput = "OnInputSecondCurrencyEvent()" })
        <script type="text/javascript">
            function OnInputSecondCurrencyEvent() {
                var button = document.getElementById("SecondButton");
                button.click();
            }
        </script>
        <span asp-validation-for="CurencyModel.TotalAmountSecondCurrency" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" style="display: none;" id="FirstButton" asp-page-handler="FirstCurrency">Submit first currency</button>
        <button type="submit" style="display: none;" id="SecondButton" asp-page-handler="SecondCurrency">Submit second currency</button>
    </div>
</form>



<div>
    @if (!string.IsNullOrEmpty(Model.ResultInfo))
    {
        var obj = Model.CurencyModel;
        var options = Model.CountryList;
        string firstCountry = @Model.CurencyModel.FirstCurrency;
        string secoundCountry = Model.CurencyModel.SecondCurrency;
        var firstIndex = options.ToList().FindIndex(elem => elem == firstCountry);
        var secondIndex = options.ToList().FindIndex(elem => elem == secoundCountry);
        if (obj != null)
        {
            var modelAsJson = Json.Serialize(obj);
            var countries = Json.Serialize(options);
            //here are the tricksy part in java script
            //rebuild the ui, by repopulating each element again with appropriate values
            // there exist probably some javascript librarys which updates only those fields which are changed
            <script type="text/javascript">
             var modelAsJson = @modelAsJson;
             var countries = @countries;
             var firstIndex = @firstIndex;
            var secondIndex = @secondIndex;

                console.log(@modelAsJson);
            
            var firstCurrencyName = modelAsJson.firstCurrency;
            console.log(firstCurrencyName);
            var secondCurrencyName = modelAsJson.secondCurrency;
            console.log(secondCurrencyName);
            //used populate first currency textfield (ege 45.3)
            var firstCurrencyAmount = modelAsJson.totalAmountFirstCurrency;
                console.log(firstCurrencyAmount);
            //used populate first currency textfield (ege 45.3)
            var secondyAmount = modelAsJson.totalAmountSecondCurrency;
                    console.log(secondyAmount);
            var firstCurrencyDropDown = document.getElementById("FirstCurrencyDropDown");
            var secondCurrencyDropDown = document.getElementById("FirstCurrencyDropDown");
            if (firstCurrencyDropDown != null ) {
                console.log('secondCurrencyDropDown is not null')
                var select = document.getElementById("FirstCurrencyDropDown");
                select.innerHTML = "";
                var options = countries;
                for (var i = 0; i < options.length; i++) {
                    var opt = options[i];
                    var el = document.createElement("option");
                    el.textContent = opt;
                    el.value = opt;
                    select.appendChild(el);
                }
                document.getElementById("FirstCurrencyDropDown").selectedIndex = firstIndex;

            } else {
                console.log('firstCurrencyDropDown is NULL null');
            }
            if (secondCurrencyDropDown != null) {
                console.log('secondCurrencyDropDown is not null')
                var select = document.getElementById("SecondCurrencyDropDown");
                select.innerHTML = "";
                var options = countries;
                for (var i = 0; i < options.length; i++) {
                    var opt = options[i];
                    var el = document.createElement("option");
                    el.textContent = opt;
                    el.value = opt;
                    select.appendChild(el);
                }
                document.getElementById("SecondCurrencyDropDown").selectedIndex = secondIndex;

            } else {
                console.log('secondCurrencyDropDown is NULL null');
            }
            //populate the textboxes containing the numbers
            var firstTextBox = document.getElementById("FirstTextBox");
            if (firstTextBox != null) {
                console.log('firstTextBoxE not null')
                firstTextBox.value = firstCurrencyAmount.toString();
            } else {
                console.log('firstTextBox IS null')
            }
            var secondTextBox = document.getElementById("SecondTextBox")
            if (secondTextBox != null ) {
                console.log('secondTextBox not null');
                secondTextBox.value = secondyAmount.toString();
            } else {
                console.log('secondTextBox IS NULL null');
            }
            </script>
        }
    }
</div>





