﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This webapp gives you the possibility to do different conversion from different currency's</p>
        <p>You need to press enter and after that the calculation are performed</p>
        <p>There is no onChange event in razor so no calculation on fly, and on submit the fields are cleared</p>
        <p>This is not what is required from the assignment but razor doesn't support those features</p>
    </div>
